@import url(../fonts/stylesheet.css);
@import url(normilize.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-style: normal;
}

h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #333B41;
}

h3 {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #333B41;
}

.subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
}

.body {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41
}

.body-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: #000000;
}

.small {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
}

button {
  background-color: transparent;
  border: none;
}

.container {
  margin: auto;
  max-width: 1160px;
  box-sizing: content-box;
  padding: 0px 10px;
}

.btn {
  text-align: center;
  color: #FFFFFF;
  padding: 16px 0px;
  width: 298px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  transition: .3s;
  position: relative;
  display: block;
  text-decoration: none;

}

.btn::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-color: #E47209;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 25px;
  z-index: 0;
  opacity: 0;
  transition: .3s;
}

.btn>span {
  position: relative;
  z-index: 2;
}

.btn:hover::before {
  opacity: 1;
  cursor: pointer;
}

.btn:hover span {
  cursor: pointer;
}

.btn:active::before {
  background-color: #4B9200;
}

.btn.disabled {
  background-color: #767474;
}