@import url(../../styles/setting.css);
@import url(../../styles/header.css);

.watch {}

.watch__container {
  padding-top: 86px;
  padding-bottom: 100px;
}

.watch__title {
  position: relative;
  margin-bottom: 69px;
}



.watch__circle {
  width: 465px;
  height: 465px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 50%;
  position: absolute;
  z-index: 0;
  top: -74px;
  left: -73px;


}

.watch__heading {
  font-weight: 700;
  font-size: 107px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;

  z-index: 1;
  position: relative;
  max-width: 500px;
  margin: 0;
}

.watch__heading_orange {
  color: #FFEE2E;
}

.watch__container {
  display: grid;
  justify-items: end;
}



.watch__btn {
  margin-right: 100px;
}