@import url(../../styles/setting.css);
@import url(../../styles/header.css);

.watch {}

.watch__container {
  padding-top: 86px;
  padding-bottom: 100px;
}

.watch__title {
  position: relative;
  margin-bottom: 69px;
}

.watch__circle {
  width: 465px;
  height: 465px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 50%;
  position: absolute;
  z-index: 0;
  top: -74px;
  left: -73px;


}

.watch__heading {
  font-weight: 700;
  font-size: 107px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;

  z-index: 1;
  position: relative;
  max-width: 500px;
  margin: 0;
}

.watch__heading_orange {
  color: #FFEE2E;
}

.watch__container {
  display: grid;
  justify-items: end;
}



.watch__btn {
  margin-right: 100px;
}

/*===========backstage================*/

.back {
  background: url(../../images/backgrond/flower_foto1.png) top right no-repeat;
}

.back__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 140px 0px 180px 0px;
  grid-gap: 87px;
}


.back__title {
  margin-bottom: 20px;
}

.back__text {}



.back__subtitle {
  margin-top: 54px;
  margin-bottom: 34px;
}

/*============PETS====================*/
.pets {
  background: url("../../images/pets/bg/strelitzia 1.png") right bottom no-repeat, url("../../images/pets/bg/palm_foto.png") left bottom no-repeat;

}

.pets__container {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 100px;
}



.pets__slider {}

.pets__slider-btns {
  position: relative;
  margin-bottom: 80px;
}

.slider {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px 30px;

}

.pets__btns {
  position: absolute;
  top: calc(50% - 31px);
  left: -82px;
  width: calc(100% + 164px);
  display: flex;
  justify-content: space-between;
}

.slider__btn {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: #F9804B;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
}

.slider__btn:hover {
  cursor: pointer;
}

.slider__btn::before {
  content: "";
  display: block;
  background: url(../../icons/pets/Vector.svg) no-repeat;
  width: 20px;
  height: 10px;
}

.slider__prev::before {
  background: url(../../icons/pets/Vector-prev.svg) no-repeat;
}

.slider__btn:active {
  background-color: #4B9200;

}


.card {
  position: relative;
  border-radius: 5px;
  padding: 1px;
  /* border: 1px solid;
  border-image-slice: 1;

  border-image-source: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%); */

}

.card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  z-index: -1;
  border-radius: 5px;

}



.card::before {
  content: "";
  background: #fff;
  border-radius: 5px;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  z-index: 1;

}

.card__img {
  position: relative;
  width: 365px;
  height: 366px;
  object-fit: cover;
  z-index: 2;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: .3s;

}

.card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 12px 14px 16px;
  position: relative;
  z-index: 2;
}



.card__text {
  margin-top: -70px;
  transition: .3s;
  opacity: 0;

}

.card:hover {
  cursor: pointer;

}

.card:hover::before {
  background-color: #F1F3F2;
}

.card:hover .card__text {
  margin-top: -10px;
  opacity: 1;
  transition: .3s;
}

.card:hover .card__img {
  transform: scale(1.05);
  transition: .3s;
}


/*==========PICK=======================*/
.pick {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  padding: 69px 0px 100px;
}

.pick__container {}

.pick__wrapper {
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  padding-top: 41px;
  padding-bottom: 59px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.pick__heading {

  margin-right: 99px;
  margin-left: 50px;

}

.pick__title {

  color: #FE9013;
  text-align: center;
  margin-bottom: 30px;
}

.pick__subtitle {
  margin-bottom: 40px;
}

.pick__main-text {
  line-height: 130%;
  text-transform: none;
  margin-bottom: 10px;
}

.pick__text {
  max-width: 863px;
}



.pick__link {
  text-decoration: none;
  color: inherit;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.pick__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #FE9013;
}

.pick__works {
  margin-top: 60px;
  margin-left: 198px;
  margin-right: 198px;
}

.works {}

.works__title {
  margin-bottom: 40px;
  text-align: center;
}

.works__cards {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  margin-bottom: 60px;
}

.works__item {}

.work {}

.work__image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  z-index: -1;
  border-radius: 5px;
  mask-composite: exclude;
}



.work__image::before {
  content: "";
  background: #FFFFFF;
  border-radius: 5px;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  z-index: 1;

}

.work__image {
  width: 168px;
  height: 168px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}


.work__img {
  position: relative;
  z-index: 2;

}

.work__title {}

.works__arrow {
  margin-top: 58px;
}



.works__btn {}